<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>user guide</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2 id="easy-writer-help">Easy Writer Help</h2>
<p>Easy Writer is a document creation application oriented at people in academia (students and professors). It lets you create professional looking documents which minimal effort.</p>
<h3 id="writing-syntax">Writing Syntax</h3>
<p>Easy Writer follows the Markdown syntax.</p>
<p>You can find a basic Markdown Cheat Sheet <a href="https://www.markdownguide.org/cheat-sheet/">here</a>.</p>
<p>Here are some basics that will help you get started.</p>
<pre><code class="lang-md"># This is Title <span class="hljs-number">1</span>

## Title <span class="hljs-number">2</span>

### Title <span class="hljs-number">3</span>

#### Title <span class="hljs-number">4</span>

##### Title <span class="hljs-number">5</span>

###### Title <span class="hljs-number">6</span>

- List Item
- List Item <span class="hljs-number">2</span>
    - Nested List Item
        - More nested Item
        - Yet another more nested item
    - Another nested list item


This is a normal paragraph. You can have **bold text** and *italic text*. You can also creat `<span class="hljs-keyword">inline</span> <span class="hljs-keyword">code</span> block`.
</code></pre>
<p>Markdown does not care about extra new lines. However, a lack of newlines will not give you desired output. Always leave one blank line after each title, list and paragraph.</p>

        
        <script src="" async defer></script>
    </body>
</html>